//- Миксин кнопок
-
mixin tabSort(items)
	ul.b-tabSort.j-tabSort
		each item in items
			li.b-tabSort__item.j-tabSort__item(class=item.class)
				a.b-tabSort__link.j-tabSort__link(href="#" data-filter=item.filter) #{item.text}
-;

//- Миксин контента
-
mixin contentSort(items)
	.b-tabSort-content.j-tabSort-content-sort
		each item in items
			a.b-tabSort-content__item.mix(href=item.href target="_blank" style=item.style class=item.class)
				span.b-tabSort-content__site #{item.name}
				span.b-tabSort-content__block
					span.b-tabSort-content__block-title #{item.title}
					span.b-tabSort-content__block-line
-;

//- Табы
+tabSort([
	{
		'class': 'active',
		'filter': 'all',
		'text': 'Все'
	},
	{
		'filter': '.category-1',
		'text': 'Landing page'
	},
	{
		'filter': '.category-2',
		'text': 'Интернет-магазин'
	},
	{
		'filter': '.category-3',
		'text': 'Сайт-компании'
	}
])

//- Контент
+contentSort([
	{
		'href' : 'libs/irline/index.html',
		'style': 'background-image:url("img/works/irline.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Перегородки Ирлайн'
	},
	{
		'href' : 'libs/proweb/index.html',
		'style': 'background-image:url("img/works/proweb.jpg");',
		'class': 'category-1',
		'name' : 'Одностраничный сайт',
		'title': 'Маркетинговая компания PROWEB'
	},
	{
		'href' : 'libs/nordline/index.html',
		'style': 'background-image:url("img/works/nordline.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Экспедиторская компания'
	},
	{
		'href' : 'libs/happyChif/index.html',
		'style': 'background-image:url("img/works/happyChif.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Кухонное оборудование'
	},
	{
		'href' : 'libs/mebell/index.html',
		'style': 'background-image:url("img/works/pallet.jpg");',
		'class': 'category-1',
		'name' : 'Одностраничный сайт',
		'title': 'Мебедь из паллет'
	},
	{
		'href' : 'libs/azure/index.html',
		'style': 'background-image:url("img/works/azure.jpg");',
		'class': 'category-1',
		'name' : 'Одностраничный сайт',
		'title': 'Апартаменты в Манхеттене'
	},
	{
		'href' : 'libs/cruiseEurope/index.html',
		'style': 'background-image:url("img/works/cruise.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Конференция 2018'
	},
	{
		'href' : 'libs/chocolate/index.html',
		'style': 'background-image:url("img/works/amazing.jpg");',
		'class': 'category-2',
		'name' : 'Интернет магазин',
		'title': 'Интернет магазин шоколада'
	},
	{
		'href' : 'libs/zamerzaem/index.html',
		'style': 'background-image:url("img/works/zamerzaem.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Портал замерзаем'
	},
	{
		'href' : 'libs/ann/index.html',
		'style': 'background-image:url("img/works/ann.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Гостиница Аннушка'
	},
	{
		'href' : 'libs/greenpass/index.html',
		'style': 'background-image:url("img/works/greenpass.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Транспортировка грузов'
	},
	{
		'href' : 'libs/tour/index.html',
		'style': 'background-image:url("img/works/rusTour.jpg");',
		'class': 'category-3',
		'name' : 'Сайт компании',
		'title': 'Туроператор Русь-Тур'
	},
	{
		'href' : 'libs/nedv/index.html',
		'style': 'background-image:url("img/works/nedv.jpg");',
		'class': 'category-1',
		'name' : 'Одностраничный сайт',
		'title': 'Александр Недвижимость'
	},
	{
		'href' : 'libs/otis/index.html',
		'style': 'background-image:url("img/works/otis.jpg");',
		'class': 'category-1',
		'name' : 'Одностраничный сайт',
		'title': 'Отис'
	}
])